<div class='container-fluid'>
  <h1><%= @exam.name %></h1>

  <span id='attr_exam_id' data-exam-id='<%= @exam.id %>'></span>

  <%= form_for @exam do |f| %>
    <div class='edit_exam'>
      <div id='exam_name'>
        <strong>タイトル : </strong>
        <%= f.text_area :name, cols: 100, rows: 1 %>
      </div>
      <div id='exam_type'>
        <strong>問題タイプ : </strong>
        <%= f.select :exam_type_id, ExamType.all.map{|o| [o.name, o.id]} %>
      </div>
      <div id='exam_content'>
        <p><strong>問題文</strong></p>
        <%= f.text_area :content, cols: 110, rows: 16 %>
      </div>
    </div>

    <div class='action_buttons'>
      <button class='btn btn-primary'>変更</button>
      <a href='/exams' class='btn btn-default'>戻る</a>
    </div>
  <% end %>

  <div id='edit_choise_selects'>
    <p><strong>選択肢</strong></p>
    <div class='exam_choise_input_area'>
      <input></input>
      <select>
        <option value='true'>○</option>
        <option value='false'>×</option>
      </select>
      <button class='btn btn-success'>更新</button>
      <button class='btn btn-warning'>削除</button>
    </div>
  </div>
  <button id='choise_add_button' class='btn btn-primary'>追加</button>
</div>

<% content_for :add_js_include do %>
	<%= javascript_include_tag 'exam/edit-manifest' %>
<% end %>
