<!DOCTYPE html>
<html>
  <head>
    <title>Exambank</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= yield :add_css_include %>
    <%= javascript_include_tag 'application' %>
    <%= yield :add_js_include %>
  </head>

  <% if user_signed_in? %>
    <nav class="navbar navbar-default">
       <a class="navbar-brand">ExamBank</a>
       <div>
         <ul class="nav navbar-nav">
            <li><a href="/exams">問題一覧</a></li>
            <li><a href="#">問題集</a></li>
            <li><a href="#">マイページ</a></li>
            <li><a href="/users/sign_out" data-method="delete">ログアウト</a></li>
        </ul>
      </div>
    </nav>
  <% end %>

  <body>
    <%= yield %>
  </body>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">exambank</p>
    </div>
  </footer>
</html>
