<!DOCTYPE html>
<html>
  <head>
    <title>Exambank</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :add_css_include %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :add_js_include %>
  </head>

  <% if user_signed_in? %>
    <nav class="navbar navbar-default">
       <a class="navbar-brand">ExamBank</a>
       <ul class="nav navbar-nav">
          <li class='dropdown'>
            <a href='#' class="dropdown-toggle" data-toggle="dropdown">問題<span class='caret'></span></a>
            <ul class='dropdown-menu'>
              <li><a href="#">問題一覧</a></li>
              <li><a href="#">問題作成</a></li>
              <li><a href="#">問題集</a></li>
            </ul>
          </li>
          <li><a href="/users/sign_out" data-method="delete">ログアウト</a></li>
      </ul>
    </nav>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
